/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, textarea, button, select, input, pre{margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{border-collapse:collapse; border-spacing:0;}
hr{display:none;}
select{outline:none;}
p, ul, ol, li, dl, dt, dd, form {list-style-image:none; list-style-position:outside; list-style-type:none; border:0px;}
img,fieldset,iframe{border:0 none;}
button{border:0 none;background-color:transparent; cursor:pointer;}
address,caption,cite,code,dfn,em,var{font-style:normal; font-weight:normal;}
a{text-decoration:none;}


.header-col{
  width:100%;
  padding:1em 0;
  background-color:goldenrod;
}

.header-col .inner-col{
  display:flex;
  align-items:center;
  width:1200px;
  margin:0 auto;
  box-sizing:border-box;
}

.logo{
  display:inline-block;
  width:10%;
}

.logo img{
  width:100%;
}

.nav-box{
  display:inline-block;
  width:35%;
  margin:0 3em 0 6em;
}

.main-nav-box{
  display:table;
  table-layout:fixed;
  position:relative;
  width:100%;
  text-align:center;
}

.main-nav-box li{
  display:table-cell;
  box-sizing:border-box;
}

.main-nav-box li a{
  display:block;
  padding:.5em 0;
  font-weight:800;
  color:#000;
}

.sub-nav-box{
  display:none;
  position:absolute;
  top:3.4em;
  left:0;
  padding:0 1.4em;
  background-color:#fff;
  box-shadow:.1em .1em .5em .2em rgb(0, 0, 0, .1);
  z-index:1;
}

.sub-nav-box.active{
  display:block;
}

.sub-nav-box li{
  display:block;
}
